body {
  .ReactFlipCard {
    margin: 0.5em 1em;
  }
  .ReactFlipCard,
  .ReactFlipCard__Front,
  .ReactFlipCard__Back {
    box-sizing: border-box;
    height: 15em;
    width: 100%;
    max-width: 23em;
  }
  .ReactFlipCard__Front {
    background-color: #f2f2f2;
  }
  .ReactFlipCard__Back {
    background-color: #dbdbdb;
    padding: 1em;
    overflow-y: auto;
    box-shadow: 0 0.4em 1em 0 rgba(0, 0, 0, 0.16), 0 0.5em 2em 0 rgba(0, 0, 0, 0.12);
  }
}