body {
  .landing {
  	color: white;
  }
  .landing-text {
  	position: absolute;
  	text-align:center;
  	width: 100%; 
  	top: 16%; 
  	font-size: 2.5em;
  	letter-spacing: 0.3em;
  	white-space: pre-line;
  }
  .landing-subtext {
  	font-size: 0.7em;
  	letter-spacing: 0.15em;
  }
  .profile {
  	height: 30vh;
  	width: auto;
  	display: block;
    margin: 0 auto;
    border-radius: 1em;
    margin-top: 1em;
  }
  .header {
  	font-size: 2em;
  }
  .about-text {
  	font-size: 1.4em;
  	width: 70vw;
  	max-width: 35em;
  	margin: 0 auto;
  	white-space: pre-line;
  	line-height: 1.5em;
  }
  .link {
  	text-decoration: none;
  }
  .emphasized {
  	color: #8200bf;
  }
  .work-logo {
  	max-width: 90%;
  	max-height: 45%;
  	display: block;
    margin: 0 auto;
    margin-bottom: 2em;
    border-radius: 1em;
  }
  .work-front-title {
  	font-weight:bold;
  	font-size: 1.2em;
  	margin-bottom: 0.5em;
  }
	.work-front-subtitle {
  	font-size: 1.1em;
  	margin-bottom: 0.5em;
  }
  .work-front-desc {
  	font-size: 0.9em;
  	font-style: italic;
  	margin-bottom: 0.5em;
  }

  .disable-select {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor: default;
	}
	.ReactFlipCard {
		margin: 0.5em 1em;
	}
	.ReactFlipCard,
  .ReactFlipCard__Front,
  .ReactFlipCard__Back {
    box-sizing: border-box;
    height: 30vh;
    width:100%;
  }
  .ReactFlipCard__Front {
    background-color: #f2f2f2;
  }
  .ReactFlipCard__Back {
    background-color: #c4c4c4;
    padding: 1em;
  }

  .card {
  	box-shadow: 0 0.4em 1em 0 rgba(0, 0, 0, 0.16), 0 0.5em 2em 0 rgba(0, 0, 0, 0.12);
	}

	.card {
	  box-sizing: border-box;
	  border-radius: 2px;
	  background-clip: padding-box;
	  padding-top: 1em;
	  height: 100%;
	  width: 100%;
	}
	.card span.card-title {
	  font-size: 1.5em;
	  font-weight: 300;
	  text-transform: uppercase;
	}
	.card .card-image {
	  position: relative;
	  overflow: hidden;
	  height: 70%;
	  width: 100%;
	  text-align:center;
	}
	.card .card-image img {
	  border-radius: 2px 2px 0 0;
	  background-clip: padding-box;
	  position: relative;
	  z-index: -1;
	}
	.card .card-image span.card-title {
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  padding: 0.3em;
	}
	.card .card-content {
	  padding: 0.5em;
	  border-radius: 0 0 2px 2px;
	  background-clip: padding-box;
	  box-sizing: border-box;
	}
	.card .card-content p {
	  margin: 0;
	  color: inherit;
	}
	.card .card-content span.card-title {
	  line-height: 1.5em;
	}
	.card .card-action {
	  border-top: 1px solid rgba(160, 160, 160, 0.2);
	  padding: 0.5em;
	}
	.card .card-action a:hover {
	  color: #ffd8a6;
	  text-decoration: none;
	}

	.react-typeout {
		color: red;
	}

	.project-img {
		max-height: 90%;
		max-width: 90%;
	}
}