body {
  margin: 0;
  .landing {
    color: white;
  }
  .landing-text {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    font-size: 2.5em;
    letter-spacing: 0.3em;
    white-space: pre-line;
  }
  .landing-subtext {
    font-size: 0.7em;
    letter-spacing: 0.15em;
  }
  .profile {
    height: 25vh;
    width: auto;
    display: block;
    margin: 0 auto;
    border-radius: 1em;
    margin-top: 1em;
  }
  .header {
    font-size: 2em;
  }
  .about-text {
    font-size: 1.25em;
    width: 70vw;
    max-width: 40em;
    margin: 0 auto;
    white-space: pre-line;
    line-height: 1.5em;
    letter-spacing: 0.02em;
  }
  .emphasized {
    color: #7E57C2;
    font-weight: 300;
  }
  .work-logo {
    max-width: 90%;
    max-height: 45%;
    display: block;
    margin: 0 auto;
    margin-bottom: 2em;
    border-radius: 1em;
  }
  .work-front-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }
  .work-front-subtitle {
    font-size: 1.1em;
    margin-bottom: 0.5em;
  }
  .work-front-desc {
    font-size: 0.9em;
    font-style: italic;
    margin: 0 0.1em 0.5em 0.1em;
  }

  .disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
  }
  .ReactFlipCard {
    margin: 0.5em 1em;
  }
  .ReactFlipCard,
  .ReactFlipCard__Front,
  .ReactFlipCard__Back {
    box-sizing: border-box;
    height: 25vh;
    width: 100%;
    max-width: 23em;
  }
  .ReactFlipCard__Front {
    background-color: #f2f2f2;
  }
  .ReactFlipCard__Back {
    background-color: #c4c4c4;
    padding: 1em;
    overflow-y: auto;
  }


  .card {
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    padding-top: 1em;
    height: 100%;
    width: 100%;
    box-shadow: 0 0.4em 1em 0 rgba(0, 0, 0, 0.16), 0 0.5em 2em 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
  }
  .card span.card-title {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background-color: #F44336;
    opacity: 0.75;
    text-shadow: black 0 0 2em;
    text-align: left;
    width: auto;
  }
  .card .card-image {
    position: relative;
    overflow: hidden;
    height: 70%;
    width: 100%;
    text-align: center;
  }
  .card .card-image img {
    border-radius: 2px 2px 0 0;
    background-clip: padding-box;
    position: relative;
    z-index: -1;
  }
  .card .card-image span.card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.3em;
  }
  .card .card-content {
    padding: 0.5em;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
    font-size: 0.9em;
    font-style: italic;
  }
  .card .card-content p {
    margin: 0;
    color: inherit;
  }
  .card .card-content span.card-title {
    line-height: 1.5em;
  }
  .card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 0.5em;
  }
  .card .card-action a:hover {
    color: #ffd8a6;
    text-decoration: none;
  }

  .react-typeout {
    color: #B71C1C;
    font-weight: 300;
  }

  .project-img {
    max-height: 90%;
    max-width: 90%;
  }

  .social-button {
    font-size: 2.5em;
    cursor: pointer;
    margin-left: 1em;
  }

  .panel-header {
    font-size: 1.2em;
    letter-spacing: 0.3em;
    margin-bottom: 0.3em;
    text-align: center;
  }
  .full-page {
    margin-top: 2em;
  }
  .divider {
    height: 1px;
    width: 2em;
    background: gray;
    margin: 2.5em auto;
  }

  .ribbon {
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: absolute;
    width: 6em;
    right: -0.9em;
    top: 1.7em;
    color: #fff;
    text-align: center;
    box-shadow: 0.2em 0.1em 1.2em gray;
    &.winner {
      background-color: #2E7D32;
    }
    &.published {
      background-color: #FB8C00;
    }
    &.none {
      visibility: hidden;
    }
  }

  .no-decoration {
    text-decoration: none;
    color: inherit;
  }
}