body {
  .landing {
    color: white;
  }
  .landing-text {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    font-size: 2.5em;
    letter-spacing: 0.3em;
    white-space: pre-line;
    text-shadow: 0.1em 0.1em 1em #000105
  }
  .landing-subtext {
    font-size: 0.7em;
    letter-spacing: 0.15em;
  }
}